@model IEnumerable<RentForPark.Models.Produs>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create New", "Create")
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card column medium-4">

                <header>
                    @Html.DisplayFor(modelItem => item.Nume)
                </header>
                <div class="card-section">
                @Html.DisplayFor(modelItem => item.Descriere)
                    </div>
                <footer>
                    <div class="tip">
                    @Html.DisplayFor(modelItem => item.Tip)
                    </div>
                    @Html.DisplayFor(modelItem => item.Pret)
                </footer>
            </div>
        }

    </div>
