@model RentForPark.Models.Comanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produs.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produs.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Nume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLivrare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLivrare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataReturnare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataReturnare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdComanda }) |
    @Html.ActionLink("Back to List", "Index")
</p>
